<div>
	<h3 class="text-center">Doctor {{title}}'s Patients</h3>
</div>
<div ng-repeat="each in patients | filter: {fullName: searchText.search}">
	<ul class="list-group">
	    <li class="list-group-item"><strong>First Name: </strong> {{each.firstName}}</li>
	    <li class="list-group-item"><strong>Last Name: </strong> {{each.lastName}}</li>
	    <li class="list-group-item"><strong>Ailment: </strong> {{each.ailment}}</li>
	    <li class="list-group-item"><strong>Doctor: </strong> {{each.docId}}</li>
	</ul>
</div>