body {
	background-color: rgba(0, 48, 61, 1);
	position: relative;
	z-index: -2;
}

h2 {
	background-color: rgba(0, 0, 0, 0.4);
	color: white;
	margin-top: 1%;
	margin-bottom: 1%;
}

#NASA-image {
	height: 600px;
	width: 900px;
	border-radius: 20px;
	border: 3px solid black;
}

#NASA-image-div {
	z-index: -1;
	position: relative;
	margin: 0 auto;
	margin-top: 1%;
	height: 600px;
	width: 900px;
}

#description-div {
	height: 100px;
	width: 900px;
	color: orange;
	margin: 0 auto;
	margin-top: -200px;
	overflow: scroll;
	}

#explanation {
	padding: 8px;
	margin: 0 auto;
	width: 875px;
	text-align: justify;
	pointer-events: none;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 20px;
	z-index: 1;
	position: relative;
}

#buttons {
	margin: 10px auto;
	height: 18px;
	width: 900px;
}

#middle-button {
	margin-top: -100px;
	text-align: center;
	height: 18px;
	width: 900px;
	margin: 0 auto;
}

#pause-button {
	margin-left: 0px;
	width: 100px;
	height: 18px;
}

#caption {
	float: left;
	color: white;
	margin-top: -40px;
	margin-left: 10px;
	background-color: rgba(0, 0, 0, 0.4);
}

#year {
	float: right;
	color: white;
	margin-top: -40px;
	margin-right: 10px;
	background-color: rgba(0, 0, 0, 0.4);
}

#previous-button {
	font-size: 2em;
	float: left;
	margin-top: -320px;
	margin-left: 5px;
	height: 60px;
	width: 60px;
	color: white;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 50%;
	pointer-events: inherit;
}

#previous-button p {
	margin-top: 10px;
}

#next-button {
	font-size: 2em;
	float: right;
	margin-top: -320px;
	height: 60px;
	width: 60px;
	color: white;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 50%;
	pointer-events: inherit;
}

#next-button p {
	margin-top: 10px;
	pointer-events: none;
}

#previous-button p {
	pointer-events: none;
}

#center-me {
	width: 100%;
	height: 100%;
	text-align: center;
	position: relative;
	z-index: -2;
}